@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap);html,
body,
header,
.view {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #FF9011;
  background-color: #1B202E;
}

.carousel {
  height: 100%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .carousel .carousel-inner .active {
  height: 100%;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  opacity: 0.8;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF9011' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF9011' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.form-icons {
  height: 15px;
}

.input-group-text {
  border: 1px solid #1B202E70 !important;
  border-right: none !important;
  background: transparent !important;
}

.md-form > label {
  color: #FFFFFF;
}

.md-form input[type=text],
.md-form input[type=email],
.md-form textarea.md-textarea {
  border-bottom: 1.5px solid #FFFFFF !important;
}

.md-form input[type=text] + label,
.md-form input[type=email] + label,
.md-form input[type=password] + label,
.md-form textarea.md-textarea + label {
  font-size: 0.8rem;
}

.md-form input:not([type]):focus:not([readonly]),
.md-form input[type=text]:not(.browser-default):focus:not([readonly]),
.md-form input[type=password]:not(.browser-default):focus:not([readonly]),
.md-form input[type=email]:not(.browser-default):focus:not([readonly]),
.md-form input[type=url]:not(.browser-default):focus:not([readonly]),
.md-form input[type=time]:not(.browser-default):focus:not([readonly]),
.md-form input[type=date]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.md-form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.md-form input[type=tel]:not(.browser-default):focus:not([readonly]),
.md-form input[type=number]:not(.browser-default):focus:not([readonly]),
.md-form input[type=search]:not(.browser-default):focus:not([readonly]),
.md-form input[type=phone]:not(.browser-default):focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #707070 !important;
  box-shadow: 0 1px 0 0 #FF9011 !important;
}

.md-form input[type=text]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type=password]:not(.browser-default):focus:not([readonly]) + label,
.md-form input[type=email]:not(.browser-default):focus:not([readonly]) + label {
  color: #FF9011;
  font-size: 0.8rem;
}

.prefix {
  max-height: 15px;
  max-width: 15px;
}

.md-form .prefix.active {
  color: #FF9011;
}

.btn-primary {
  background-color: #FF9011 !important;
  border-color: #FF9011 !important;
  box-shadow: 0px 3px 6px #00000029;
}

.btn-rounded {
  border-radius: 25px;
}

.btn-dark {
  background: #1B202E 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  padding: 0.85rem;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  height: 3rem;
  min-width: 8.5rem;
  color: #FFFFFF;
}

.btn-primary-outline {
  border: 1px solid #FF9011 !important;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  color: #FF9011;
  min-width: 200px;
  padding: 10px;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  background-color: transparent;
}

.btn-none,
.btn-none:hover {
  background: none;
  border: none;
  box-shadow: none;
  color: inherit !important;
}

.black-bold {
  font-weight: 700 !important;
  color: #000000 !important;
}

.dark-bold {
  font-weight: 700 !important;
  color: #1B202E !important;
}

.mt-40 {
  margin-top: 7.5rem !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.navdark-bg {
  background-color: #1B202E !important;
}

.top-nav-collapse {
  background-color: #1B202E;
}

.long-btn {
  border: none;
  background: #FF9011 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  width: 136px;
  text-align: center;
  font-weight: 800;
  color: #FFFFFF;
}

.nav-link:hover {
  border-bottom: 1px solid #FFFFFF;
}

.nav-item .active {
  border-bottom: 1px solid #FFFFFF;
}

.title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
}

.file-input {
  color: transparent;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: "Select images";
  color: #FFFFFF;
  display: inline-block;
  background: -webkit-linear-gradient(left, #1B202E, #485370);
  border-radius: 8px;
  padding: 0.8rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  width: 70%;
  text-align: center;
}

.file-input:hover::before {
  border: none;
}

.file-input:active {
  outline: 0 !important;
}

.file-input:active::before {
  outline: 0 !important;
  background: -webkit-linear-gradient(left, #1B202E, #485370);
}

.file-input:focus {
  outline: 0 !important;
}

.home-banner {
  background-image: url(/images/home-banner.png?17de3ef11a032b2fae8e64e2fce9db2c);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-mask {
  background: #0000009c url(/images/home-mask.svg?e21b2af021f936762257f4646aa16263) 0% 0% no-repeat padding-box;
}

.welcome-text {
  text-shadow: 0px 3px 6px #00000029;
  color: #FF9011;
  font-weight: 700;
  font-size: 2.5rem;
}

.banner-cta {
  color: #000000 !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.banner-form {
  background: #FFFFFF70 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FFC27D;
  width: 100%;
  padding: 1.5rem;
  overflow: auto;
}

.banner-txt {
  color: #FFFFFF;
}

.banner-input {
  border: 1px solid #1B202E70 !important;
  border-left: none !important;
  background-color: transparent !important;
}

.banner-input::-webkit-input-placeholder {
  color: white !important;
  font-size: 0.75rem;
}

.banner-input::-moz-placeholder {
  color: white !important;
  font-size: 0.75rem;
}

.banner-input:-ms-input-placeholder {
  color: white !important;
  font-size: 0.75rem;
}

.banner-input::-ms-input-placeholder {
  color: white !important;
  font-size: 0.75rem;
}

.banner-input::placeholder {
  color: white !important;
  font-size: 0.75rem;
}

.banner-input:focus {
  color: #FFFFFF !important;
  border-color: #1B202E70 !important;
  box-shadow: 0 0 0 0.2rem #1b202e66;
}

.banner-upload {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  padding: 1.3rem;
  overflow-y: scroll;
  overflow-x: auto;
  height: 10rem;
}

.banner-form-preview {
  height: 100%;
  width: 100%;
}

.preview-card {
  width: 80px;
  height: 80px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #7070704F;
  margin-right: 1rem;
}

.intro-section {
  background-color: #1B202E;
  color: #FFFFFF !important;
}

.intro-left {
  border-top: 2px solid #FF9011;
  padding: 1.5rem;
}

.intro-right {
  padding: 1.5rem;
}

.about-txt {
  font-weight: 900 !important;
  font-size: 2rem !important;
}

.wwd-section {
  background-color: #2A3247;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.wwd-container {
  display: flex;
  justify-content: flex-start;
  padding: 4rem;
  flex-wrap: wrap;
}

.wwd-container2 {
  display: flex;
  justify-content: flex-end;
}

.wwd-box1,
.wwd-box2 {
  color: #FFFFFF !important;
  border: 1px solid #FF9011;
  background: transparent;
  height: 25rem;
  width: 40rem;
}

.wwd-box2 {
  border: 1px solid #FF9011;
  margin-left: 2rem;
  margin-top: 3rem;
  padding: 2rem;
}

.wwd-head {
  color: #FF9011 !important;
}

.truckClip {
  background-image: url(/images/truckClip.png?9c1d7599096f8d34298b7edca907b06d);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30rem;
}

.truckMask {
  width: 100%;
  height: 100%;
  margin-top: -3.3rem;
}

.ll-container {
  display: flex;
  justify-content: space-around;
}

.ll-text {
  font-weight: 900 !important;
  font-size: 2rem !important;
  border-top: 3px solid #FF9011;
  padding: 2rem;
  width: 50%;
}

.table {
  background: #2A3247 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FF9011;
  color: #FFFFFF;
  text-align: center;
}

.table thead,
.table tfoot {
  color: #FF9011;
}

.table thead th,
.table tfoot th {
  font-weight: bolder;
}

.table th,
.table td {
  border-bottom: 1px solid #FF9011 !important;
}

.vehicle-range,
.test-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vehicle-img {
  width: 200px;
  height: 200px;
  margin-bottom: 1.5rem !important;
  box-shadow: 0px 3px 6px #00000029;
  color: #FF9011;
  background-color: #FFFFFF;
}

.vehicle-img img {
  width: 100%;
  height: 100%;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem !important;
}

.testimonial-txt {
  width: 100%;
  font-weight: 900 !important;
  font-size: 2rem !important;
  color: #FFFFFF;
}

.short-cont {
  width: 100%;
  padding-left: 38%;
}

.short-border {
  height: 10px;
  width: 20%;
  border-bottom: 2.5px solid #FF9011;
}

.test-numbers {
  background: #FF9011 0% 0% no-repeat padding-box;
  padding: 2rem;
  color: #1B202E;
}

.user-test {
  background: #2A3247 0% 0% no-repeat padding-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.test-box1,
.test-box2 {
  border: 1px solid #FF9011;
  background: transparent;
  height: 20rem;
  width: 35rem;
}

.test-box2 {
  margin-top: 7px;
  margin-left: 15px;
  font-size: 1rem !important;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.test-header img {
  height: 75px;
  width: 75px;
}

.footer {
  background-color: #FF9011;
  color: #FFFFFF !important;
  padding: 2rem !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8rem !important;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.footer-heading {
  color: #1B202E !important;
  font-size: 1.5rem;
  font-weight: 900;
}

.footer-box {
  background: #CE7510 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding: 1.5rem;
  padding-bottom: 0.6rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-box h6 {
  font-weight: bolder;
}

.footer-box p {
  font-size: 0.75rem;
}

.footer-box img {
  max-width: 32px !important;
  height: 24px !important;
}

.footer-box .addresses {
  max-height: 117px !important;
}

.footer-box .md-form input[type=text],
.footer-box .md-form input[type=email],
.footer-box .md-form textarea.md-textarea {
  border-bottom: 1.5px solid #FFFFFF;
  width: 100%;
}

.footer-contact {
  padding-bottom: 1rem !important;
  display: flex;
  justify-content: center;
}

.footer-contact .btn-dark {
  width: 5rem !important;
}

.footer-title {
  font-family: "Montserrat Alternates", sans-serif;
  color: #1B202E;
  font-weight: bold;
  font-size: 1.1rem;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: #FF9011;
  justify-content: flex-end;
}

.copy-img {
  height: 31px;
  width: 31px;
}

.quarter-page-intro {
  margin-top: 4rem;
  height: 35%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.quarter-mask {
  width: 100%;
  height: 100%;
  background: transparent url(/images/find-truck.svg?4eacb7606b04cf146d355583fb416f8a) 0% 0% no-repeat padding-box;
  padding: 5rem;
}

.page-title {
  font-size: 2rem;
  color: #FF9011;
  font-weight: bolder;
}

.page-caption {
  font-size: 1.1rem;
  font-weight: bold;
  color: #FFFFFF;
}

.pagination .page-item.active .page-link {
  background-color: #FF9011 !important;
}

.market-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4rem;
  flex-wrap: wrap;
}

.market-card {
  border-radius: 24px !important;
  background-color: #2A3247;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
}

.mcard-top {
  height: 250px;
  width: 300px;
  border-radius: 24px 24px 0px 0px;
  overflow: hidden !important;
  position: relative;
}

.m-img {
  width: 400px;
  height: 400px;
  margin-left: -2rem;
  margin-top: -2rem;
}

.mcard-bottom {
  padding: 1.2rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.mbottom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.muted-small {
  color: #959595;
  font-size: 10px;
  margin-bottom: 0.55rem;
  text-align: center;
}

.mbottom-txt {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bolder;
}

.light-overlay {
  position: absolute;
  height: 110%;
  width: 120%;
  margin-left: -2rem;
  margin-top: -2rem;
  z-index: 10;
  background: #2A3247 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707059;
  border-radius: 24px;
  opacity: 0.96;
  display: none;
}

.login-form {
  background: #2A3247 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #FF9011;
  border-radius: 36px;
  padding: 3rem;
}

.login-form .md-form input[type=text],
.login-form .md-form input[type=email],
.login-form .md-form input[type=password],
.login-form .md-form textarea.md-textarea {
  border-bottom: 1.5px solid #707070 !important;
}

.login-form .login-liner {
  margin-top: 2rem;
  border-bottom: 1.5px solid #666;
}

.login-option {
  background-color: #2A3247;
  padding: 1.5rem;
  padding-right: 2rem !important;
  width: 10%;
  margin: -2rem auto auto auto;
  align-self: center;
  text-align: center;
  margin-bottom: 1rem;
}

.login-banner-img {
  height: 50%;
  margin-top: -10rem;
}

.login-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.login-welcome-text {
  margin-left: 40%;
  margin-top: 20%;
}

.login-right {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.login-right .login-form {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }

  .full-page-intro {
    height: 1000px;
  }

  .carousel {
    height: 100%;
  }

  .navbar {
    background-color: #1B202E !important;
  }

  .wwd-container {
    flex-direction: column;
    padding: 2rem;
    min-width: 20rem;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .wwd-container2 {
    display: none;
  }

  .wwd-box1 {
    max-width: 10rem;
  }

  .wwd-box2 {
    max-width: 20rem;
    background-color: #2A3247;
  }

  .wwd-box2 h4 {
    font-size: 1rem;
  }

  .ll-text {
    width: 100%;
  }

  .vehicle-range {
    flex-direction: column;
  }

  .short-cont {
    width: 100%;
    padding-left: 8%;
  }

  .short-border {
    height: 10px;
    width: 40%;
    border-bottom: 2.5px solid #FF9011;
  }

  .login-banner {
    flex-direction: column;
  }

  .login-banner-img {
    display: none !important;
  }

  .login-welcome-text {
    margin: auto;
    padding: 1rem;
    text-align: center;
    margin-top: 5%;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: auto;
  }

  .navbar:not(.top-nav-collapse) {
    background: #1B202E !important;
  }
}

